In [3]:
'Day' + str(1)

'Day1'

In [4]:
i=1
if i<=3:
    print('print less than 3')
    if i<=2:
        print('print less than 2')
elif i<5:
    print('less than 5')
else:
    print('5 or more')

print less than 3
print less than 2

In [19]:
l = list('deadbc')

In [20]:
l

['d', 'e', 'a', 'd', 'b', 'c']

In [21]:
for fig in l:
    print(fig)

d
e
a
d
b
c

In [25]:
numbers=["abcd","def","ghi"]
sum=''
for i in numbers:
    sum=sum+i

print(sum)

abcddefghi

In [29]:
digits=[1,2,3,4,5]

for i in digits:
    if i==3:
        break
    else:
        print(i)

1
2

In [30]:
#while loop

n=10
sum=0
i=1
while i<n:
    sum=sum+i
    i=i+1
    
print("Sum is:",sum)

Sum is: 45

In [31]:
range(6)

range(0, 6)

In [33]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [34]:
print(list(range(8,2,-2)))

[8, 6, 4]

In [35]:
print(list(range(2,15,2)))

[2, 4, 6, 8, 10, 12, 14]

In [41]:
genere=["abc","def","ghi","jkl"]

for i in range(len(genere)-1,0,-1):
    print(genere[i])

jkl
ghi
def

In [44]:
for i in "string":
    if i=="i":
        break
    print(i)
    
print("The end")

s
t
r
The end

In [45]:
for i in "string":
    if i=="i":
        continue
    print(i)
    
print("The end")

s
t
r
n
g
The end

In [46]:
name=input("What is your name:")

What is your name:David

In [47]:
type(name)

str

In [48]:
age=input("Your age:")
type(age)

Your age:5

str

In [52]:
name=input("what is your name:")
print("nice talking to you"+ name + "!")
age=input("What is your age:")
print(name+"is"+age+"years old")

what is your name:Abc
nice talking to youAbc!
What is your age:20
Abcis20years old

In [51]:
name = input("What is your name? ")
print (" It was nice talking you " + name + "!")
age = input("Enter your age? ")
print("Hey, you are already " + age + " years old, " + name + "!")

What is your name? ARun
 It was nice talking you ARun!
Enter your age? 20
Hey, you are already 20 years old, ARun!

In [1]:
"string with double quotes"

'string with double quotes'

In [2]:
print 'Hello'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('Hello')? (<ipython-input-2-ec3fee0488db>, line 1)

In [3]:
print('Hello')

Hello

In [4]:
len('Hello')

5

In [5]:
s='hello world'

In [6]:
print(s)

hello world

In [7]:
s[0]

'h'

In [8]:
s[1:]

'ello world'

In [9]:
s[:3]

'hel'

In [10]:
s[:-1]

'hello worl'

In [11]:
s[-1:]

'd'

In [12]:
s[::2]

'hlowrd'

In [13]:
s[::-1]

'dlrow olleh'

In [14]:
s+'Concatenate me'

'hello worldConcatenate me'

In [15]:
letter='z'

In [16]:
letter*10

'zzzzzzzzzz'

In [17]:
s.upper()

'HELLO WORLD'

In [18]:
s.lower()

'hello world'

In [20]:
s.split()

['hello', 'world']

In [21]:
s.split('w')

['hello ', 'orld']

In [22]:
'Insert another string {}'.format(s)

'Insert another string hello world'

In [23]:
s.count('o')

2

In [24]:
s.count('l')

3

In [25]:
s.find('h')

0

In [26]:
s.isalnum()

False

In [27]:
s.isalpha()

False

In [28]:
s.isspace()

False

In [29]:
s.istitle()

False

In [30]:
s[-1]

'd'

In [31]:
s.endswith('o')

False

In [3]:
t=('s',1,'ef',4,1)
type(t)

tuple

In [4]:
t.count(1)

2

In [5]:
t[0]

's'

In [6]:
t.append('ab')

AttributeError: 'tuple' object has no attribute 'append'

In [7]:
x=set()

In [8]:
x.add(3)

In [9]:
x

{3}

In [10]:
l=[1,2,3,1,5,4,5]

In [11]:
l

[1, 2, 3, 1, 5, 4, 5]

In [12]:
set(l)

{1, 2, 3, 4, 5}

In [22]:
my_dict={'a':'l','b':'m','c':3}

In [24]:
my_dict['b']

'm'

In [25]:
def greeting(name):
    print('Hello %d' %name)

In [27]:
x=greeting(90)

Hello 90

In [31]:
def addnum(num1,num2):
    return num1+num2

In [32]:
addnum(5,3)

8

In [35]:
def is_prime(num):
    
    for n in range(2,num):
        if num%n == 0:
            print('not prime')
            break
    else:
        print('Prime')

In [36]:
is_prime(8)

not prime

In [1]:
#iterators & generators

In [6]:
def gencube(n):
    for num in range(n):
        yield num**3

In [7]:
gencube(4)

In [8]:
for x in gencube(10):
    print(x)

0
1
8
27
64
125
216
343
512
729

In [9]:
def fibnocci(n):
    " Generating fibnocci series"
    a=1
    b=1
    for i in range(n):
        yield a
        a,b=b,a+b

In [10]:
for num in fibnocci(10):
    print(num)

1
1
2
3
5
8
13
21
34
55

In [11]:
#convert celcius to farenheit

def farenheit(T):
    return (float(9/5 * T)+32)

In [12]:
farenheit(45)

113.0

In [19]:
#convert farenheit to celcius

def celcius(T):
    return (float(5/9 * (T - 32)))

In [20]:
celcius(113)

45.0

In [21]:
temp=[25.0,45.0,60.0,110.0]

In [23]:
F_temp=list(map(farenheit,temp))

In [24]:
F_temp

[77.0, 113.0, 140.0, 230.0]

In [28]:
#using lamda
list(map(lambda x : x+1,F_temp))

[78.0, 114.0, 141.0, 231.0]

In [29]:
x=lambda x:x+5

In [31]:
print(x(5))

10

In [35]:
def myfunc(n):
    return lambda a:a*n

mydoubler=myfunc(2)

print(mydoubler(11))

22

In [34]:
a=5
myfunc(3)

In [38]:
#class & object
class myclass():
    x=5
    

p1=myclass()
p1.x

5

In [40]:
class person():
    
     
    def __init__(self,name,age):
        self.name=name
        self.age=age
    
p1=person("Jack","30")

print(p1.name)
print(p1.age)

Jack
30

In [41]:
class person():
    
     
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
    def myfunc(self):
        print("Hello My name is "+self.name)
        

p1=person("John",36)
p1.myfunc()

Hello My name is John

In [43]:
def myfunc(*kids):
    print("The youngest kid "+kids[2])
    
    
myfunc("Email","John","Jack")

The youngest kid Jack

In [44]:
#if number of arguments is unknown
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [46]:
from functools import reduce
lst=[1,2,3,4,5]
reduce(lambda a,b:a+b,lst)

15

In [48]:
max_find=lambda a,b:a if (a>b) else b
lst=[5,6,99,34]

In [49]:
reduce(max_find,lst)

99

In [50]:
lst=[2,3,6,8,45,63,43]
list(map(lambda x: x%2==0,lst))

[True, False, True, True, False, False, False]

In [53]:
my_file=open('test_now.txt','w+')
my_file.write('This is new file')

16

In [54]:
my_file.seek(0)

0

In [55]:
my_file.read()

'This is new file'

In [1]:
#oops classed

In [7]:
class person:
    def __init__(self,name,surname,year_of_birth):
        self.name=name
        self.surname=surname
        self.year_of_birth=year_of_birth
    
    def age(self,current_year):
        return current_year-self.year_of_birth
    
    def __str__(self):
        return "%s %s and was born %d" \
                %(self.name,self.surname,self.year_of_birth)
    
    
    
alec = person("Alec", "Baldwin", 1958)
print(alec)
print(alec.surname)
print(alec.age)

Alec Baldwin and was born 1958
Baldwin
<bound method person.age of <__main__.person object at 0x0000004DE9CE4488>>

In [18]:
class tyres:
    def __init__(self,branch,belted_bias,opt_pressure):
        self.branch=branch
        self.belted_bias=belted_bias
        self.opt_pressure=opt_pressure
        
    def __str__(self):
        return("\n Tyres : \n \t Branch:"+str(self.branch)+
              "\n \t Belted Bias:"+str(self.belted_bias)+
              "\n \t optimal Pressure:"+str(self.opt_pressure))
        
        
class engine:
    def __init__(self,fuel_type,noise_level):
        self.fuel_type=fuel_type
        self.noise_level=noise_level
        
    def __str__(self):
        return("\n Engine : \n \t fuel type:"+str(self.fuel_type)+
              "\n \t Belted Bias:"+str(self.noise_level))
    
        
        
class body:
    def __init__(self,size):
        self.size=size
    
    def __str__(self):
        return("\n Body : \n \t size:"+str(self.size))
    
        
        
class car:
    def __init__(self,tyres,engine,body):
        self.tyres=tyres
        self.engine=engine
        self.body=body
    
    def __str__(self):
        return str(self.tyres) + "\n" + str(self.engine) + "\n" + str(self.body)
        
        
        
t = tyres('Pirelli', True, 2.0)
e = engine('Diesel', 3)
b = body('Medium')
c = car(t, e, b)
print(c)

 Tyres :
 	 Branch:Pirelli
 	 Belted Bias:True
 	 optimal Pressure:2.0

 Engine :
 	 fuel type:Diesel
 	 Belted Bias:3

 Body :
 	 size:Medium

In [26]:
my_file=open('test.txt','w+')

In [27]:
# Write to the file
my_file.write('This is a new line')

18

In [29]:
# Seek to the start of file (index 0)
my_file.seek(0)

0

In [30]:
my_file.read()

'This is a new line'

In [1]:
import math
math.ceil(2.4)

3

In [2]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [3]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [4]:
try:
    f = open('testfile','w')
    f.write('Test write this')
except IOError:
    # This will only check for an IOError exception and then execute this print statement
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Content written successfully

In [5]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except IOError:
    # This will only check for an IOError exception and then execute this print statement
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Error: Could not find file or read data

In [6]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except:
    # This will check for any exception and then execute this print statement
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Error: Could not find file or read data

In [7]:
try:
   f = open("testfile", "w")
   f.write("Test write statement")
finally:
   print("Always execute finally code blocks")

Always execute finally code blocks

In [8]:
def askint():
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            
        finally:
            print("Finally, I executed!")
        print(val)

In [9]:
askint()

Please enter an integer: 4
Finally, I executed!
4

In [10]:
def askint():
    while True:
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            break
        else:
            print('Yep thats an integer!')
            break
        finally:
            print("Finally, I executed!")
            print(val)

In [11]:
askint()

Please enter an integer: five
Looks like you did not enter an integer!
Finally, I executed!

UnboundLocalError: local variable 'val' referenced before assignment

In [12]:
#!/usr/bin/python

import sqlite3
#connecting with the database.
db = sqlite3.connect("my_database3.db")
# Drop table if it already exist using execute() method.
db.execute("drop table if exists grades1")
# Create table as per requirement
db.execute("create table grades1(id int, name text, score int)")
#inserting values inside the created table
db.execute("insert into grades1(id, name, score) values(101, 'John',99 )")
db.execute("insert into grades1(id, name, score) values(102, 'Gary',90 )")
db.execute("insert into grades1(id, name, score) values(103, 'James', 80 )")
db.execute("insert into grades1(id, name, score) values(104, 'Cathy', 85 )")
db.execute("insert into grades1(id, name, score) values(105, 'Kris',95 )")

In [13]:
db.commit()

In [14]:
results = db.execute("select * from grades1 order by id")
for row in results:
    print(row)
print("-" * 60 )

(101, 'John', 99)
(102, 'Gary', 90)
(103, 'James', 80)
(104, 'Cathy', 85)
(105, 'Kris', 95)
------------------------------------------------------------

In [ ]:
results = db.execute("select * from grades1 where name = 'Gary' ")
for row in results: print(row)
print("-" * 60 )