# Key Words 

Keywords are the reserved words in Python.

We cannot use a keyword as a variable name, function name or any other identifier. They are used to define the syntax and structure of the Python language.
Keywords in Python : 
False	class	finally	is	return 
None	continue	for	lambda	try
True	def	from	nonlocal	while
and	del	global	not	with
as	elif	if	or	yield
assert	else	import	pass break	except	in	raise

# Identifier

Rules for writing identifiers
Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore _. Names like myClass, var_1 and print_this_to_screen, all are valid example.
An identifier cannot start with a digit. 1variable is invalid, but variable1 is perfectly fine.
Keywords cannot be used as identifiers.

# Statements & Comments

In [1]:

a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8 + 9

In [2]:
a

45

In [4]:
b = (1 + 2 + 3 +
    4 + 5 + 6 +
    7 + 8 + 9)

In [5]:
b

45

In [9]:
colors = ['red',
          'blue',
          'green']

In [11]:
print(colors)

['red', 'blue', 'green']

Python Identation

Most of the programming languages like C, C++, Java use braces { } to define a block of code. Python uses indentation.

A code block (body of a function, loop etc.) starts with indentation and ends with the first unindented line. The amount of indentation is up to you, but it must be consistent throughout that block.

Generally four whitespaces are used for indentation and is preferred over tabs. Here is an example.

In [14]:
#Python Identation
for i in range(1,11):
    print(i)
    if i == 5:
        break

1
2
3
4
5

# Python Variables, Constants and Literals

In [15]:
number = 10
number = 1.1

In [16]:
print(number)

1.1

In [17]:
#Assigning a value to a Variable in Python
website = "apple.com"
print(website)

apple.com

In [18]:
website = "apple.com"
print(website)

# assigning a new variable to website
website = "programiz.com"

print(website)

apple.com
programiz.com

In [20]:
#Assigning multiple values to multiple variables
a, b, c = 5, 3.2, "Hello"

print (a)
print (b)
print (c)

5
3.2
Hello

In [21]:
x = y = z = "same"

print (x)
print (y)
print (z)

same
same
same

In [36]:
def constant(PI,GRAVITY):
 PI = 3.14
 GRAVITY = 9.8

def main():
 import constant()
 print(constant.PI)
 print(constant.GRAVITY)

SyntaxError: invalid syntax (<ipython-input-36-524495fcdd2c>, line 6)

In [35]:
constant

AttributeError: 'function' object has no attribute 'PI'

In [37]:
#Numeric literals 
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5 
float_2 = 1.5e2

#Complex Literal 
x = 3.14j

print(a, b, c, d)
print(float_1, float_2)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0
3.14j 3.14 0.0

In [38]:
#How to use string literals in Python?
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\u00dcnic\u00f6de"
raw_str = r"raw \n string"

print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
C
This is a multiline string with more than one line code.
Ünicöde
raw \n string

In [40]:
#Boolean literals
x = (1 == True)
y = (1 == False)
a = True + 4
b = False + 10

print("x is", x)
print("y is", y)
print("a:", a)
print("b:", b)

x is True
y is False
a: 5
b: 10

In [41]:
#How to use special literals in Python?
drink = "Available"
food = None

def menu(x):
    if x == drink:
        print(drink)
    else:
        print(food)

menu(drink)
menu(food)

Available
None

In [43]:
#How to use literals collections in Python?

fruits = ["apple", "mango", "orange"] #list
numbers = (1, 2, 3) #tuple
alphabets = {'a':'apple', 'b':'ball', 'c':'cat'} #dictionary
vowels = {'a', 'e', 'i' , 'o', 'u'} #set

print(fruits)
print(numbers)
print(alphabets)
print(vowels)

['apple', 'mango', 'orange']
(1, 2, 3)
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'u', 'a', 'i', 'e', 'o'}

# Data types

Python Numbers

Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

In [44]:
a = 5
print(a, "is of type", type(a))

a = 2.0
print(a, "is of type", type(a))

a = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is complex number? True

Python List:

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

In [45]:
a = [5,10,15,20,25,30,35,40]

# a[2] = 15
print("a[2] = ", a[2])

# a[0:3] = [5, 10, 15]
print("a[0:3] = ", a[0:3])

# a[5:] = [30, 35, 40]
print("a[5:] = ", a[5:])

a[2] =  15
a[0:3] =  [5, 10, 15]
a[5:] =  [30, 35, 40]

In [47]:
#Lists are mutable
a = [1,2,3]
a[2]=4
a

[1, 2, 4]

Python Tuple

Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified.

In [48]:
t = (5,'program', 1+3j)

# t[1] = 'program'
print("t[1] = ", t[1])

# t[0:3] = (5, 'program', (1+3j))
print("t[0:3] = ", t[0:3])

# Generates error
# Tuples are immutable
t[0] = 10

t[1] =  program
t[0:3] =  (5, 'program', (1+3j))

TypeError: 'tuple' object does not support item assignment

Python Set

Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

In [49]:
a = {5,2,3,1,4}

# printing set variable
print("a = ", a)

# data type of variable a
print(type(a))

a =  {1, 2, 3, 4, 5}
<class 'set'>

In [50]:
>>> a = {1,2,3}
>>> a[1]

TypeError: 'set' object is not subscriptable

In [53]:
a = {1,2,2,3,3,3}
a

{1, 2, 3}

Python Dictionary

Dictionary is an unordered collection of key-value pairs.

In [1]:
d = {1:'value','key':2}
type(d)

dict

In [2]:
d = {1:'value','key':2}
print(type(d))

print("d[1] = ", d[1]);

print("d['key'] = ", d['key']);

# Generates error
print("d[2] = ", d[2]);

<class 'dict'>
d[1] =  value
d['key'] =  2

KeyError: 2

Conversion between data types

We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [4]:
float(5)

5.0

In [9]:
int(10.6)

10

In [7]:
int(-10.6)

-10

In [10]:
float('2.5')

2.5

In [11]:
str(25)

'25'

In [12]:
nt('1p')

NameError: name 'nt' is not defined

In [13]:
#We can even convert one sequence to another
set([1,2,3])

{1, 2, 3}

In [14]:
tuple({5,6,7})

(5, 6, 7)

In [15]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [16]:
#To convert to dictionary, each element must be a pair
dict([[1,2],[3,4]])

{1: 2, 3: 4}

# Type Conversion:

The process of converting the value of one data type (integer, string, float, etc.) to another data type is called type conversion. Python has two types of type conversion.

Implicit Type Conversion:In Implicit type conversion, Python automatically converts one data type to another data type. This process doesn't need any user involvement.

Explicit Type Conversion:In Explicit Type Conversion, users convert the data type of an object to required data type. We use the predefined functions like int(), float(), str(), etc to perform explicit type conversion.
This type conversion is also called typecasting because the user casts (change) the data type of the objects.

Syntax :

(required_datatype)(expression)

In [18]:
#Implicit Type conversion
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))
#Python always converts smaller data type to larger data type to avoid the loss of data.

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

In [19]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

print(num_int+num_str)

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
#Explicit Type Conversion:

num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))

num_sum = num_int + num_str

print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>

# Python Input, Output and Import

In [22]:
#Python Output Using print() function

print('This sentence is output to the screen')
# Output: This sentence is output to the screen

a = 5

print('The value of a is', a)
# Output: The value of a is 5

This sentence is output to the screen
The value of a is 5

In [23]:
print(1,2,3,4)
# Output: 1 2 3 4

print(1,2,3,4,sep='*')
# Output: 1*2*3*4

print(1,2,3,4,sep='#',end='&')
# Output: 1#2#3#4&

1 2 3 4
1*2*3*4
1#2#3#4&

In [24]:
#Output formatting

print('I love {0} and {1}'.format('bread','butter'))
# Output: I love bread and butter

print('I love {1} and {0}'.format('bread','butter'))
# Output: I love butter and bread

I love bread and butter
I love butter and bread

In [25]:
print('Hello {name}, {greeting}'.format(greeting = 'Goodmorning', name = 'John'))

Hello John, Goodmorning

In [27]:
#Python Input

num = input('Enter a number: ')
num

Enter a number: 1

'1'

In [28]:
int(2+3)

5

In [30]:
eval('2+5')

7

In [34]:
#Python Import
import math
from math import pi
pi

3.141592653589793

# Python Operators

In [35]:
#Arithmetic operators

x = 15
y = 4

# Output: x + y = 19
print('x + y =',x+y)

# Output: x - y = 11
print('x - y =',x-y)

# Output: x * y = 60
print('x * y =',x*y)

# Output: x / y = 3.75
print('x / y =',x/y)

# Output: x // y = 3
print('x // y =',x//y)

# Output: x ** y = 50625
print('x ** y =',x**y)

#Output:x%y
print('x % Y =',x%y )

x + y = 19
x - y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625
x % Y = 3

In [36]:
# Comparison operators in Python
x = 10
y = 12

# Output: x > y is False
print('x > y  is',x>y)

# Output: x < y is True
print('x < y  is',x<y)

# Output: x == y is False
print('x == y is',x==y)

# Output: x != y is True
print('x != y is',x!=y)

# Output: x >= y is False
print('x >= y is',x>=y)

# Output: x <= y is True
print('x <= y is',x<=y)

x > y  is False
x < y  is True
x == y is False
x != y is True
x >= y is False
x <= y is True